<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">

    <mat-form-field>
      <label mat-label for="name">User Name:</label>
      <input matInput type="text" id="name" name="name" placeholder="Enter your username" required>
    </mat-form-field>
    <mat-form-field>
      <label mat-label for="password">Password:</label>
      <input matInput type="password" id="password" name="password" placeholder="Enter your password" required>
    </mat-form-field>
</form>


<button (click)="login()" class = "btn btn-primary">login</button>