#top {
  background-color: aquamarine;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: space-between;
}
#content {
  display: flex;
  margin:20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  height: 85%;
}
